@use '../../../../scss/globals/' as g;

.faq_answer {
  position: relative;
  padding-left: 4rem;
  white-space: pre-wrap;
  
  &::before {
    content: 'A';
    color: var(--color-primary--light);
    @include g.clamp_fontsize(20, 375, 1920, 28);
    font-weight: 700;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 10px;
  }
}
