@use '../../../../scss/globals/' as g;
.faq_question {
  position: relative;
  padding-left: 4rem;

  &::before {
    color: var(--color-secondary);
    background-color: var(--color-primary);
    border-radius: 50%;
    content: "Q";
    @include g.clamp_fontsize(20, 375, 1920, 28);
    font-weight: 700;
    line-height: 1;
    padding: 3px 5px;
    position: absolute;
    top: -2px;
    left: 0;
  }
}