// ================
// Font Size
// ================

$default_fz: 18;

// ================
// Colour
// ================

// Base Theme
$theme-colors: (
  primary: #2d2d2d,
  primary--light: lighten(#2d2d2d, 20%),
  secondary: #fff,
  success: #004fd2,
  warning: #f8c11a,
  danger: #f13245,
  background: #fff,
  base: #2d2d2d,
);

// Cool Theme
$cool-theme-colors: (
  primary: #004fd2,
  primary--light: lighten(#004fd2, 20%),
  secondary: #fff,
  success: #004fd2,
  warning: #f1c339,
  danger: #f74254,
  background: #fff,
  base: #2d2d2d,
);

// ================
// view Size
// ================
$xs: '375px'; // for small screen mobile
$sm: '600px'; // for mobile screen
$md: '900px'; // for tablets
$lg: '1280px'; // for laptops
$xl: '1440px'; // for desktop / monitors
$xxl: '1920px'; // for big screens

// ================
// Break Points
// ================
$breakpoints: (
  'xs': 'screen and (min-width: #{$xs})',  // SmartPhone
  'sm': 'screen and (min-width: #{$sm})',  // Tablet
  'md': 'screen and (min-width: #{$md})',  // PC
  'lg': 'screen and (min-width: #{$lg})', // PC (Wide)
  'xl': 'screen and (min-width: #{$xl})', // PC (Wide)
  'xxl': 'screen and (min-width: #{$xxl})' // PC (Wide)
) !default;