// ================
// Font Size
// ================

$default_fz: 18;

// ================
// Colour
// ================
$primary_white: #fff;
$primary_black: #2d2d2d;
$primary_blue: #004fd2;
$primary_red: red;

// ================
// view Size
// ================
$xs: '375px'; // for small screen mobile
$sm: '600px'; // for mobile screen
$md: '900px'; // for tablets
$lg: '1280px'; // for laptops
$xl: '1440px'; // for desktop / monitors
$xxl: '1920px'; // for big screens

// ================
// Break Points
// ================
$breakpoints: (
  'xs': 'screen and (min-width: #{$xs})',  // SmartPhone
  'sm': 'screen and (min-width: #{$sm})',  // Tablet
  'md': 'screen and (min-width: #{$md})',  // PC
  'lg': 'screen and (min-width: #{$lg})', // PC (Wide)
  'xl': 'screen and (min-width: #{$xl})', // PC (Wide)
  'xxl': 'screen and (min-width: #{$xxl})' // PC (Wide)
) !default;